<h1>Listing Products</h1>

<div class="container">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <h2><strong><%= product.name %></strong></h2>
        <%= product.description %><br>
        $ <%= product.price %> Ruyar-Coins<br>
        <%= link_to 'Show', product, class: "btn btn-primary" %>
        <a href="<%= new_product_bid_path(product) %>" class="btn btn-primary">Bid</a>
        <p id="notice"><%= notice %></p>
      </div>
    </div>
  <% end %>
</div>
