<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="container">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <h2><strong><%= product.name %></strong></h2>
        <%= product.description %><br>
        $ <%= product.price %> CLP<br>
        <%= link_to 'Show', product, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
